
{{>partials/header}}

<section class="banner" style="background-image: url(images/allanimals.jpg);">Todos os animas</section>
<h2>Todos os animais disponíveis para doação</h2>


<div class="container list">

    <div class="item">

        <img src="images/pastor-alemao.jpg" class="item--image" alt="">
        <div class="item--name">Pastor-alemao</div>
        <div class="item--color">Cor: Amarelo e preto</div>
        <div class="item--genre">Gerero: Masculino</div>
    </div>


  
    


</div>

{{>partials/footer}}